html{
    font-family: Arial;
}
nav{
    background-color: #1066ef;
}
.background-image{
    background-image: url("./images/html-editor.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
aside{
    width: 40%;
    float: right;
    display: block;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px grey;
}
.aside-slim{
    width: 15%;
    float: right;
    display: block;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px grey;
}
article{
    width: 35%;
    display: inline-block;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
}
.article-broad{
    width: 70%;
    display: inline-block;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
}
article > p{
    padding: 1px 5px;
}
.article-header{
    background-color: #1066ef;
    padding: 6px 16px;
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
}
.article-img-small{
    width: 49%;
    height:49%;
    margin-left: 3px;
    margin-right: -3px;
}
.img-small{
    width: 200px;
    height: 200px;
    margin-left: 3px;
    margin-right: -3px;
    border-style: ridge;
}
table{
    margin: 15px 15px;
    text-align: center;
}
.button{
    background-color: #1066ef;
    border: none;
    color: #ffffff;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: Arial;
    font-size: 16px;
    margin: 0px -3px;
	margin-top: 0px;
    cursor: pointer;
}
.button:hover{
    background-color: #0b3d8e;
}